#alert-container {
    position: relative;
    height: 0;
}

#success-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20%;
    z-index: 9999; /* Asegúrate de que el valor sea mayor que cualquier otro elemento de tu página */
}